nav.col-md-2.d-none.d-md-block.bg-light.sidebar
    .sidebar-sticky
        h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
            span Main menu
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                span List of bots
            ul.nav.flex-column
              li.nav-item
                a.nav-link.active(href='/index.html')
                  span(data-feather='home')
                  | Chat bot (llama3-70b-8192)
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='/imageanalyzer.html')
                  span(data-feather='file')
                  | Image Analyzer (gemini-1.5)
              li.nav-item
                a.nav-link(href='/speech.html')
                  span(data-feather='bar-chart-2')
                  | Speechbot (OpenAI tts-1)